{% extends "base.html" %}

{% block content %}

        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        <h1>&nbsp;</h1>
        
        <p>Today is {{today}}</p>
        <h1> Welcome to <div class="loader">
                
                <div class="scanner">
                  <span>SmartNotes....</span>
                </div>
              </div></h1>

              
        <h1>&nbsp;</h1>
        {% if user.is_authenticated %}
        <a  href="{% url 'notes.list' %}"  class=""><button class="shadow__btn">NOTES</button></a>
        {% else %}
        <a  href="{% url 'login' %}"  class=""><button class="shadow__btn">NOTES</button></a>
        {% endif %}



{% endblock %}